*{
	margin:0 ;
	padding:0;
	box-sizing:border-box;
	font-family: 'Big Shoulders Display', cursive;

}
html{
	scroll-behavior: smooth;
}
.btn a{
	text-decoration:none;
	color:#fff;
	text-align: center;
}
#port-jumbo{
	border:8px solid #007bff;
	padding:10em 10em;
	border-radius: 800px;
	height: 100px;
	width: 100px;
	margin-right: 33em;
	background: url(../images/lem.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}
#jumbo-div{
	height:80vh;
	background:url(../images/mirror.jpeg);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 	fixed;
	width: 1350px;

	/*border-radius: 0;*/
	/*margin: 0 auto;*/

}
.lead{
	color:white;
	text-align: center;
	margin-right: 5em;
	size:50px;
}
.ll{
	margin: top;
}

.footer{
	bottom:0;
}
.jumbotron h1{
		font-family: 'Big Shoulders Display', cursive;
	color:#f2f2f2; /*off white
*/
}

#about-me{

}

.ww{
	text-align: center;
}
.card title{
	text-align: center;
	float:left;

}
#font{
	font-family: 'EB Garamond', serif;
}
#all{
	height:100vh;
	/*background:url(../images/bulb.jpg);*/
	background-color: black;
	background-position: cover;
	background-repeat: no-repeat;
	background-size: 100%;
}
.aboutme{
	color:white;
	text-align: center;
}
.btn{
	margin-right: 7em;
}



/*media queries*/
@media only screen and (max-width:300px){
	#jumbo-div{
		height:100px;
	}
	#port-jumbo{
		width:50%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;
	}
	.jumbotron h1{
		font-size: 10px;
	}
}
/*tablet styles*/
@media only screen and (min-width:410px)and(max-width: 960px){

}
/*desktop*/
@media only screen and (min-width:961px){


}

